body {
  font-family: 'Inconsolata', Arial, sans-serif;
  padding-top: 50px;
}

.navbar {
  .glyphicon-home {
    font-size: 30px;
    color: $gray-lighter;
    &:hover {
      color: $gray-light;
    }
  }
  span {
    line-height: 50px;
    margin-bottom: 0;
  }
}

.banner {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-top: 20px;

  @media all and (max-width: $screen-xs-max) {
    height: 135px;
  }

  img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media all and (max-width: $screen-xs-max) {
      width: 130%;
    }
  }
}

.home {
  article {
    padding: 0 0 0 20px;
  }
  ul li {
    border-bottom: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: none;
      margin-bottom: 30px;
    }
    p:last-of-type::after {
      content: "..........";
    }
    time {
      margin-bottom: 15px;
      display: inline-block;
    }
  }
}

.highlight pre {
  word-wrap: normal;
}

.highlight pre code {
  white-space: pre;
}

footer {
  background-color: $navbar-default-bg;
  a {
    line-height: 80px;
    img {
      height: 35px;
    }
  }
}